@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url(text.css);
@import url(button.css);
@import url(social_networks.css);
@import url(Tic_Tac_Toe.css);
:root {
    --green: #348F6C;
    --dark_green: #2A815F;
    --gold: #E2C992;
    --light: #fff;
    --dark_blue: #3F3D56;
    --grey: #C0C0C0;
    --dark_gray: #DEDEDE;
    --dark: #272727;
    --black: #000000;
    --white: #ffffff;
    --blue: #2D74FF;
    --dark_blue: #043daf;

    --black-50: rgba(0, 0, 0, 0.5);
    --white-50: rgba(255, 255, 255, 0.5);
  
    /* RGB */

    --gold_rgb: 226, 201, 146;
    --green_rgb: 52, 143, 108;
    --dark_green_rgb: 42, 129, 95;
    --blue_rgb: 45, 116, 255;
  }
  
body{
    background-color: var(--green);
    margin: 0;
}

.main_content{
    background-color: var(--dark_green);
}

.menu {
    display: flex;
    align-items: center;
}

    .menu li {
        width: 150px;
        list-style: none;
        background: var(--dark_green);
        position: relative;
    }

    .menu a {
        color: var(--gold);
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px 10px;
        height: 20px;
    }

        .menu a:hover {
            background: var(--white);
        }

    .menu ul {
        position: absolute;
        left: 0;
        display: none;
        padding: 0;
    }

    .menu li:hover > ul {
        display: block;
        border-radius: 10px;
    }

    .menu ul ul {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
    }
